/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
}

.mat-select-panel {
  max-height: none !important;
}
